<!DOCTYPE html>
<html>
    <head>
        <title>Adam's books</title>
        <link rel="stylesheet" href="styles.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <h1>{{headline}}</h1>
        {% for message in get_flashed_messages() %} 
            <div class=flash>{{ message }}</div>
        {% endfor %}
    <p>
        <div>
            <a href="{{url_for('search')}}">Find boook</a>
        </div>
       
        <div>
            <a href="{{url_for('bottles')}}">Hear a song</a>
        </div>
       
      
        <form action="{{url_for('login')}}">
            <input type="submit" value="Go to login" />
        </form>

        <form action="{{url_for('logout')}}">
            <input type="submit" value="Go to logout" />
        </form>
       
        
    </p>
    </body>
</html>